.container {
  display: flex;
  border: 10px solid rgb(153, 180, 32);
  height: 90vh;
  column-gap: 10px;
}
.box {
  width: 150px;
  height: 150px;
  font-size: 2em;
  text-align: center;
  border-radius: 15px;
}
#box1 {
  background-color: rgb(165, 42, 159);
}
#box2 {
  background-color: rgb(18, 109, 78);
  align-self: center;
}
#box3 {
  background-color: blueviolet;
}
#box4 {
  background-color: rgb(233, 148, 22);
  align-self: center;
}
